.jumbotron-fluid {
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color:white;
    padding: 2%;
}

h1 {
    font-size: 4em;
}

.add-train {
    padding-left: 0px;
}

#add-train-btn:hover {
    background-color: rgb(128, 128, 128);
}

#add-train-header {
    background-color: yellow;
    font-weight: bold;
}

.card {
    margin-top: 2%;
}

#cts {
    margin-top: 6px;
}

#current-time {
    font-family: 'Orbitron', sans-serif;
    color:red;
    font-size: 2em;
    font-weight: bold;
}

#cts-header {
    background-color: greenyellow;
    font-weight: bold;
}

body {
    background-color: rgb(145, 196, 245);
}